.App {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 10px;
  height: 100px;
  padding: 10px;
}

.navitems{
  margin: 10px;    
  font-family: "Times New Roman";
}
.button{
  border-radius: 5px;
  padding: 4px;
  background-color: aqua;
  height: 25px;
  font-family: "Roboto";
  margin-top: 10px;
  border-width: 1px;

}

.bg-container{
  padding:10px;
  height:100vh;
}


